#root{
    width: 700px;
    display: grid;
    grid-template-columns: 350px 350px;
    
}
.areaOption{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%; /*200px*/
    height: 16.25rem; /*500px*/
    background: #f4f4f4;
}
.areaOption h1{
    color: black;
}
.optionCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem auto 0;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background: rgb(249, 128, 29);
    border-style: solid;
    border-width: 0.35rem;
    border-color: rgb(181, 90, 15);
    transition: ease-in-out 400ms;
}
.optionCircle:hover{
    cursor: pointer;
    background: rgb(173, 206, 0);
    border-color: rgb(151, 180, 1);
}
.optionCircle h1 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
}

.lineDecoration{
    margin: 0 auto;
}



#areaSecondMenu{
    display: grid;
    padding-left: 2rem;
    width: 800px;
    grid-template-columns: 500px auto ;
}
#areaMainCircle{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
}
#mainCircleTitle{
    margin-top: 5rem;
    margin-bottom: 0rem;
    text-align: center;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mainCircleOptionsArea{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    height: 350px;
    justify-content: center;
    align-items: center;
}
#mainCircleOptionsArea a {
    width: 15rem;
    text-decoration: none;
    color: black;
    border-style: solid;
    border-width: 0.35rem;
    border-color: transparent;
    border-radius: 15px;
    transition: ease-in-out 400ms;
}
#mainCircleOptionsArea a:hover{
    cursor: pointer;
    background: rgb(173, 206, 0);
    border-color: rgb(151, 180, 1);
}
.mainCircleOptions{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 0;
}
#sideMenu{
    display: grid;
    gap: 0.4rem;
}

#sideMenu h1{
    text-decoration: none;
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-top: 37%;
    margin-bottom: 0%;
    text-align: center;
}
h1#option1CircleTitle{
    margin-top: 33%;
}
h1#optionBackCircleTitle{
    margin-top: 5%;
    font-size: 4rem;
}
#mainCircle{
    /* width: 35rem; */
    width: 475px;
    height: 475px;
    /* height: 35rem; */
    border-radius: 50%;
    background: rgb(249, 128, 29);
    border-style: solid;
    border-width: 0.35rem;
    border-color: rgb(181, 90, 15);
    transition: ease-in-out 400ms;
}
.optionBackCircle, .option1Circle, .option2Circle, .option3Circle {
    /* width: 9rem; */
    width: 100px;
    height: 100px;
    /* height: 9rem; */
    border-radius: 50%;
    background: rgb(249, 128, 29);
    border-style: solid;
    border-width: 0.35rem;
    border-color: rgb(181, 90, 15);
    transition: ease-in-out 400ms;
}

.optionBackCircle:hover, .option1Circle:hover, .option2Circle:hover, .option3Circle:hover{
    cursor: pointer;
    background: rgb(173, 206, 0);
    border-color: rgb(151, 180, 1);
}